/vendor
/node_modules
Homestead.yaml
Homestead.json
.env


#ignoring intellij files
.idea

#ignoring composer files
composer.lock 

phpunit-*
/reports
.sonar
.DS_STORE
**/dissertation/*.aux
**/dissertation/*.bbl
**/dissertation/*.blg
**/dissertation/*.log
**/dissertation/*.gz
**/dissertation/*.toc
**/dissertation/images
**/dissertation/charts
**/dissertation/meetings
**/dissertation/apendix
